# Изпълними файлове
main
build/
*.exe
*.out
*.app

# Папки за дебъгване (macOS)
*.dSYM/

# Системни файлове
.DS_Store

# Ограничаване на папката .vscode, без да се трият споделените настройки
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json

# Междинни обектни файлове
*.o
*.obj

documentation/